.ItemDivContainerDayNumber p {
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
/* .ItemDivContainerDayNumber p:hover {
  background-color: #a4b0be;
} */
.ItemDivContainerDayNumber {
  display: flex;
}
